html {
  font-family: Lato, sans-serif;
}

body {
  background-color: #fff;
}

.btn {
  background-color: #008f85;
  border-radius: 12px;
  border: none;
}

.btn-white {
  background-color: #fff;
  color: #3c7188;
  border-radius: 12px;
  border: none;
}

.select-form {
  background-color: #008f85;
}

img {
  width: 100%;
  max-width: 100%;
}

h1 {
  color: #008f85;
}

.about {
  color: #008f85;
}

nav:hover {
  width: auto;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #aadbd7;
}

.light-box {
  background-color: #aadbd7;
}

fieldset {
  border: 0;
}

td, th {
  border: none;
}

.form {
  background-color: #fff;
  box-shadow: 10px 15px 15px gray;
}

.pie,
.girl {
  width: 40%;
}

.guy {
  width: 20%;
}

.guy-pencil {
  width: 40%;
}

.logo {
  width: 30%;
}

.logo-bottom {
  width: 20%;
}

.testimonials {
  width: 30%;
}

.testimonial-2 {
  width: 10%;
}

.maya {
  width: 15%;
}

.guy-knees {
  width: 40%;
}

.testimonies {
  background-color: #aadbd7;
}

.collecting {
  background-color: #dbef99;
}

.responses {
  background-color: #dbef99;
}

.assay {
  color: #dbef99;
}

h2 {
  color: #dbef99;
}

h3 {
  color: #3c7188;
}

.computer {
  width: 60%;
}

footer {
  background-color: #008f85;
}

.green-box {
  background-color: #dbef99;
}

.green {
  color: #dbef99;
}

.percent {
  color: #dbef99;
}

.teal-box {
  background-color: #56c7bd;
}

.faq {
  color: #3c7188;
}

.h2-white,
.p-white {
  color: #fff;
}

.btn-light {
  color: #fff;
}

.btn:hover {
  background-color: #ccc;
}

.click {
  color: #3c7188;
}

.background-bottom {
  padding-top: 5em;
}

.image-right {
  background-image: url("../images/background-right.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.image-left {
  background-image: url("../images/background-left.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

select {
  border: 0;
}

.social-media {
  width: 5%;
}

.checked {
  color: #dbef99;
}

.star-line {
  color: #ccc;
}

.white {
  color: #fff;
}

.price {
  color: #3c7188;
}

.gray {
  color: gray;
}

.one {
  color: #3c7188;
}

.two {
  color: #dbef99;
}

.three {
  color: #56c7bd;
}

.ib:hover {
  background-color: #aadbd7;
  border-radius: 14px;
  color: #fff;
}

table {
  box-shadow: 10px 15px 15px gray;
}

.faq-questions {
  color: #aadbd7;
}
