html {
  font-family: Lato, sans-serif;
}

.btn {
  background-color: #007367;
  border-radius: 12px;
  border: none;
}

.btn-white {
  background-color: #fff;
  color: #3c7188;
  border-radius: 12px;
  border: none;
}

.select-form {
  background-color: #007367;
}

img {
  width: 100%;
  max-width: 100%;
}

h1 {
  color: #007367;
}

.about {
  color: #007367;
}

nav:hover {
  width: auto;
  color: #000;
  border-color: #a6a6a6;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #00574e;
}

.light-box {
  background-color: #aadbd7;
}

fieldset {
  border: 0;
}

td, th {
  border: none;
}

.form {
  background-color: #fff;
  box-shadow: 10px 15px 15px #ededed;
}

.pie,
.girl {
  width: 50%;
}

.girl-sitting {
  width: 50%;
}

.guy {
  width: 40%;
}

.guy-pencil {
  width: 20%;
}

.logo {
  width: 30%;
}

.logo-bottom {
  width: 10%;
}

.testimonials {
  width: 30%;
}

.testimonial-2 {
  width: 10%;
}

.maya {
  width: 15%;
}

.guy-knees {
  width: 30%;
}

.connection {
  width: 60%;
  z-index: -1;
}

.testimonies {
  background-color: #aadbd7;
}

.collecting {
  background-color: #aadbd7;
}

.responses {
  background-color: #9aab5e;
}

.assay {
  color: #9aab5e;
}

h2 {
  color: #00594f;
}

h3 {
  color: #00594f;
}

footer {
  background-color: #007367;
}

.green-box {
  background-color: #9aab5e;
}

.green {
  color: #9aab5e;
}

.percent {
  color: #9aab5e;
}

.teal-box {
  background-color: #56c7bd;
}

.faq {
  color: #3c7188;
}

.h2-white,
.p-white {
  color: #fff;
}

.btn-light {
  color: #fff;
}

.btn:hover {
  background-color: #9aab5e;
}

.click {
  color: #9aab5e;
}

.background-bottom {
  padding-top: 5em;
}

.image-right {
  background-image: url("../images/background-right.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.image-left {
  background-image: url("../images/background-left.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

select {
  border: 0;
}

input {
  border: 0;
}

.social-media {
  width: 20%;
}

.checked {
  color: #9aab5e;
}

.star-line {
  color: #ededed;
}

.white {
  color: #fff;
}

.price {
  color: #9aab5e;
}

.gray {
  color: #636363;
}

.one {
  color: #3c7188;
}

.plan {
  color: #3c7188;
}

.two {
  color: #9aab5e;
}

.light-green-box {
  background-color: #9aab5e;
}

.title {
  color: #3c7188;
}

.three {
  color: #007367;
}

.ib:hover {
  background-color: #9aab5e;
  border-radius: 14px;
  color: #fff;
}

table {
  box-shadow: 10px 15px 15px #a6a6a6;
  min-width: 50em;
}

.faq-questions {
  color: #9aab5e;
}

tbody tr:nth-child(odd) {
  background-color: #aadbd7;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
