html {
  font-family: Lato, sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

.btn {
  background-color: #008f85;
  border-radius: 12px;
  border: none;
}

.btn-white {
  background-color: #fff;
  color: #3c7188;
  border-radius: 12px;
  border: none;
}



img {
  width: 100%;
  max-width: auto;
}

h1 {
  color: #008f85;
}

.about {
  color: #008f85;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #aadbd7;
}

.light-box {
  background-color: #aadbd7;
}

fieldset {
  border: none;
}

.pie,
.girl {
  width: 40%;
}

.logo {
  width: 20%;
}

.testimonials {
  width: 30%;
}

.testimonial-2 {
  width: 10%;
}

.maya {
  width: 15%;
}

.guy-knees {
  width: 40%;
}

.testimonies {
  background-color: #aadbd7;
}

.collecting {
  background-color: #dbef99;
}

.responses {
  background-color: #dbef99;
}

.assay {
  color: #dbef99;
}

.guy {
  width: 20%;
}

.fa-star {
  color: #dbef99;
}

footer {
  background-color: #008f85;
}

.green-box {
  background-color: #dbef99;
}

.teal-box {
  background-color: #56c7bd;
}

.h2-white,
.p-white {
  color: #fff;
}

.btn-light {
  color: #fff;
}

.btn:hover {
  background-color: #ccc;
}
